.timer-text {
  background-color: rgba(235,89,82,1);
  border-radius: 17px;
  color: white;
  font-size: 2em;
  width: 90px;
  margin: 0 auto;
  padding-top: 2px;
}

.timer-label-text {
  font-size: 1.3em;
  margin-top: -5px;
}

/* .timer-content {
  position: fixed;
  top: 100; 
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
} */
