.play-button {
  background-color: rgb(235,89,82);
  border-color: rgb(235,89,82);
  color: white;
  font-size: 2em;
  border-radius: 13px;
  padding: 3px 15px;
}

.play-button:hover {
  background-color: rgb(213,44,35);
  border-color: rgb(213,44,35);
}

.new-game-button {
  font-size: 1em;
}
