.Loading-wheel {
  animation: Loading-wheel-spin infinite 1.2s linear;
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

@keyframes Loading-wheel-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
