.pop-up-box {
  padding: 20px;
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 13px;
  margin: 0 auto;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 1.25em;
}

.quit-button-div {
  margin-bottom: 40px;
}

.centered-col {
  float: none;
  margin: 0 auto;
}

.dimmed-overlay {
  z-index: 1;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
