.nav-link, .nav-link:visited {
  font-family: 'Pacifico', cursive;
  margin-right: 30px;
  font-size: 1.75em;
  color: white;
  text-decoration: none !important;
}

.nav-link-right {
  margin-right: 0px;
}

.nav-link:hover, .nav-link:focus {
  color: yellow;
  text-decoration: none !important;
}

.nav-bar {
  border-bottom: 2px solid white;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 12px;
}
