.letter-unsolved {
  display: inline-block;
  margin: 10px;
  width: 1.5em;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  border-color: #3c64c9;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  background-color: #3c64c9;
}

.letter-solved {
  display: inline-block;
  margin: 10px;
  width: 1.5em;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  background-color: green;
}
